* {
    font-family: 'Roboto', sans-serif;

}

body {
    background-image: url(Images/BG.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div h1 {
    font-family: 'Poppins', sans-serif;
}
div.container {
    margin-top: 7%;
}

div a {
    text-decoration: none;
}